<form action="/posts" method="post">
  <p>Enter a name: <input type="text" name="name"></p>
  <p>Enter your content: <input type="text" name="content"></p>

  <input type="submit" id="submit">
</form>